@import '@styles/theme.module.scss';

.root {
    font: $large-font;
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 245, 245, 0.75);
    padding-top: 2em;
    padding-bottom: 3em;
    justify-content: center;
    padding-right: 7em;
    padding-left: 7em;
    column-gap: 5em;
    min-height: 86vh;
    z-index: 300;
    width: 100vw;
}

.title {
    font: $title-font;
    letter-spacing: 0.4rem;
}

.paragraph {
    margin-bottom: 1.5em;
    font: $paragraph-font;

    @media screen and (max-width: 600px) {
        min-width: 70vw;
        // margin-left: -2rem;
    }
}

.text {
    // text-align: start;
    width: 40vw;
    min-width: 30vw;
    margin-top: 40px;
    // margin-top: 3em;
    // display: flex;
    // flex-direction: column;
    // row-gap: 1em;
    // max-height: 500px;
    // height: 20vh;
    overflow-y: auto;

    @media screen and (max-width: 600px) {
        min-width: 100vw;
    }
}

.image {
    align-self: center;
    width: 20vw;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

h3 {
  font-weight: bold;
}

em {
    font-style: italic;
}